{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Notice</h1>

           <span>
            <span>Teachers / <span class="text-secondary">Notice add</span></span>
           </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'notice_teacher_list' %}" class="btn btn-primary"> Notice list <i class="fa-solid fa-bell ml-2"></i></a>
        </div>
    </div>
</section>
{% include "msg.html" %}
<form action="" method="post" class='shadow p-3 mb-5 bg-body rounded '>
    {% csrf_token %}
    <div class="col-md-12">
        {{ fm.media }}
   
    {{fm.as_p}}
    </div>
    
    <button type="submit" class='btn btn-primary my-3'>Sent notice</button>

</form>

{% endblock body %}