{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Subject</h1>

            <span>
                <span>Subject / <span class="text-secondary">Subject Update</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'subject_list' %}" class="btn btn-danger"> Go back </a>

        </div>
    </div>
</section>

<div class="container subject_input">
    {% include 'msg.html' %}
<form action="" method="post">
    {% csrf_token %}
    {{fm}}

    <button type="submit" class = 'btn btn-primary mt-3'>change it</button>
</form>
</div>
{% endblock body %}