{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Teacher</h1>

           <span>
            <span>{{data.admin.username   }} / <span class="text-secondary">Update</span></span>
           </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'teacher_list' %}" class="btn btn-primary"> Teacher list <i class="fas fa-user-graduate ml-2"></i></a>
        </div>
    </div>
</section>


<div class="student_add">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        
                        {% csrf_token %}
                        <div class="row">
                            <!-- messages  -->
                         {% include "msg.html" %}
                           
                           
                        
                            
                            <div class="col-12">
                                <h5 class="form-title"><span>Student Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group" >
                                    <label>First Name</label>
                                    <input type="text" value="{{data.admin.first_name}}" name="fname" class="form-control" required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lname" value="{{data.admin.last_name}}" class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>email</label>
                                    <div>
                                        <input type="email" name="email" value='{{data.admin.email}}' class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Teacher Id</label>
                                    <input type="text" name="tid"  value="{{data.teacher_id}}" class="form-control" >
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Gender</label>
                                    <select class="form-control select select2-hidden-accessible" data-select2-id="1" name="gender"
                                        tabindex="-1" aria-hidden="true" >
                                  
                                        <option value='female' {% if data.gender == 'female' %} selected {% endif %}>Female</option>
                                        <option value='male' {% if data.gender == 'male' %} selected {% endif %}>Male</option>
                                        <option value='other' {% if data.gender == 'other' %} selected {% endif %}>Others</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" name="password" placeholder="{{data.admin.password}}" class="form-control" >
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Member of Course</label>
                                    <select class="form-control select select2-hidden-accessible" name="course" data-select2-id="1" required aria-required="true" 
                                    tabindex="-1" aria-hidden="true">
                                
                                   {% for i in course %} 
                                   <option value="{{i.id}}" {% if i.id == data.course.id %}selected{% endif %} >{{i.name}} </option>
                                   {% endfor %}
                            
                                </select>
                                </div>
                            </div>
                           
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Member of Branch</label>
                                    <select class="form-control select select2-hidden-accessible" name="branch" data-select2-id="1" required aria-required="true"
                                    tabindex="-1" aria-hidden="true">
                                   
                                    {% for i in branch %}
                                    <option value="{{i.id}}" {% if i.id == data.branch.pk %}selected{% endif %}>{{i.name}}</option>
                                    {% endfor %}
                                    
                                </select>
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date of Birth</label>
                                    <div>
                                        <input type="date" name="dob" value="{{data.dob}}" class="form-control">
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Mobile Number</label>
                                    <input type="text" name="mob"  value = '{{data.ph}}' class="form-control">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Teacher Image</label>
                                    <input type="file" name="img" value = '{{data.admin.profile_image}}' class="form-control" accept="image/*">
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title"><span>Extra Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>join date</label>
                                    <input type="date" name="join" class="form-control" value='{{data.join}}'>
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>qualification</label>
                                    <input type="text" name="qualification" value="{{data.qualification}}" class="form-control">
                                </div>
                            </div>
                           
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>experience</label>
                                    <input type="number" name="experience" value='{{data.experience}}' class="form-control">
                                </div>
                            </div>
                           
                            
                            </div>
                            
                            <div class="col-12 ">
                                <div class="form-group">
                                    <label> Address</label>
                                    <textarea class="form-control"  name="address"> {{data.address}} </textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">change</button>
                                <a href="{% url 'teacher_list' %}" class='btn btn-warning'> Back </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock body %}