{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Transport</h1>

            <span>
                <span>Transport / <span class="text-secondary">Transport add</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'transport_list' %}" class="btn btn-warning"> Transport list </a>
            {% comment %} <i class="fas fa-plus"></i> {% endcomment %}
        </div>
    </div>
</section>


<section>
    <form action="" method="post" class="shadow p-3 mb-5 bg-white rounded">
        {% include 'msg.html' %}
        {% csrf_token %}
        <div class="row">
            {% for i in fm %}
               <div class="col-md-4 my-2">
                {{i.label}}
                {{i}}
               </div>
            {% endfor %}
        </div>
        <button class='btn btn-primary mt-2' type='submit'>Save</button>
    </form>
</section>
{% endblock body %}