{% extends "header.html" %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Transport</h1>

            <span>
                <span>Transport / <span class="text-secondary">Transport Edit</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'transport_list' %}" class="btn btn-success"> Back  </a>
            {% comment %} <i class="fas fa-plus"></i> {% endcomment %}
        </div>
    </div>
</section>

<section>
    <form action="" method = 'post' class="shadow p-3 mb-5 bg-white rounded">
        {% csrf_token %}
        {% include 'msg.html' %}
        {{fm}}
       
        <div class='mt-2'>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                Remove
              </button>
            <button type="submit" class='btn btn-primary'>Change</button>
            
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Route <b>{{data.route|title}}</b>  Bus no <b>{{data.bus_num}}</b></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                       <span class='text-danger'>Conform to Remove</span>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'transport_remove' data.id %}" class="btn btn-danger my-4">Remove</a>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </form>
</section>
{% endblock body %}