{% extends "header.html" %}

{% block body %}
{% include 'msg.html' %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Blog</h1>

           <span>
            <span>blog / <span class="text-secondary">blog add</span></span>
           </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'blog' %}" class="btn btn-primary"> blog list <i class="fa fa-newspaper ml-2"></i></a>
            
        </div>
    </div>
</section>
<form action="" method="post" class="shadow p-3 mb-5 bg-body rounded" enctype="multipart/form-data">
{% csrf_token %}

{{fm.media}}
{{fm.as_p}}
<button type="submit" class='btn btn-primary'>Post</button>

</form>
{% endblock body %}