{% extends 'header.html' %}

{% block body %}

<section class="profile_update mt-4">
    <h1 style="font-weight:100;" class="text-center text-dark">Profile Update</h1>
    {% if messages %}
    {% for i in messages %}
   
   
        <div class="alert alert-success container" role="alert">
            <div class="w-100"> <i class="fa-solid fa-xmark login_cross" onclick="this.parentElement.parentElement.style.display = 'none'" style="width: fit-content; 
            display: block;
            margin-left: auto;"></i></div>
            {{i | safe}}
        </div>

    {% endfor %}
    
    {% endif %}
    
    


    <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}

        Profile image
        <input type="file" name="profile_image" accept="image/*"  id="id_profile_image">
        <br>

        First name
        <input type="text" name="first_name" value="{{user.first_name}}" maxlength="150" id="id_first_name">
        <br>

        Last name
        <input type="text" name="last_name" value="{{user.last_name}}" maxlength="150" id="id_last_name">
        <br>

        Email address
        <input type="email" name="email" value="{{user.email}}" maxlength="254" id="id_email">
      
        
        <br>
        Username
        <input type="text" name="username" value="{{user.username}}" maxlength="254" id="id_email" readonly disabled>
      
        
        <br>
        <b>Extra Informations</b> <br>
        {{fm}}
        <a href="{% url 'change_password' %}">Password Changed..</a>
        <input type="submit" class="btn btn-success" value="Update profile">
        <a href="{% url 'log_in' %}" class='btn btn-danger'>Back to home</a>
    </form>
</section>


{% endblock body %}