{% extends 'header.html' %}

{% block body %}

<section class='index my-3 '>
    <div class="row admin ">
      <div class="col-6 col-md-8">
        <h1>Password Changed</h1>
  
        <span>
          <span>Password / <span class="text-secondary">Change password</span></span>
        </span>
  
      </div>
      <div class="col-6 col-md-2 mt-3 ">
 
  
      </div>
    </div>
  </section>



<form action="" method="post" class='shadow p-3 mb-5 bg-white rounded'>
    {% include "msg.html" %}
    {% csrf_token %}
    {% for i in form %}
    {{i.label}}
    {{i}}
    {% if i.errors %}
     <span class='text-danger'>{{i.errors}}</span>
    {% else %}
    {% endif %}
    {% endfor %}
    <button type="submit" class='btn btn-primary my-2'>Changed password</button>
    <a href="{% url 'profile_update' %}" class="btn btn-danger"> Back</i></a>
</form>

{% endblock body %}