{% extends "header.html" %}
{% block body %}

<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Assignment</h1>

            <span>
                <span>Assignment / <span class="text-secondary">Assignment Edit</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">

        </div>
    </div>
</section>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include "msg.html" %}
    {{fm.as_p}}
    {{fm.media}}
    <a href="{% url 'student_assignment_list' %}" class='btn btn-danger'>Back</a>
<button type="submit" class='btn btn-primary'>Change</button>
</form>
{% endblock body %}