{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Student</h1>

            <span>
                <span>Feedback / <span class="text-secondary">Feedback sent</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'student_feedback' %}" class="btn btn-primary"> Feedback  <i
                    class="fas fa-plus ml-2"></i></a>

        </div>
    </div>
</section>

<section>
    <span class='text-success border border-success p-1'>Total result : {{data.count}} </span>


    <table class="table table-striped  table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col"> date</th>

                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.title|capfirst}}</td>
                <td>{{i.date}} </td>

                <td>
                    <div class="row ">


                        <div class="col-6 col-md-3">
                            <a href="{% url 'student_feedback_view' i.id %}" class="btn btn-sm btn-primary bg-success-light mr-1">Views</a>
                        </div>
                        <div class="col-6 col-md-2"> <button type="button"
                                class="btn btn-sm btn-danger bg-success-light mr-1" data-toggle="modal"
                                data-target="#exampleModalCenter{{forloop.counter}}">
                                <i class="fas fa-trash"></i>
                            </button></div>




                        <div class="modal fade" id="exampleModalCenter{{forloop.counter}}" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{i.title|capfirst}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <span class='text-danger'>Conform remove</span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <a href="{% url 'student_feedback_remove' i.id %}" type="button"
                                            class="btn btn-danger">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </td>
            </tr>
            {% empty %}
            <marquee behavior="" direction="">
                <p class='text-danger'>No Feedback result found</p>
            </marquee>
            {% endfor %}


        </tbody>
    </table>
</section>
{% endblock body %}