{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Group discussion</h1>

            <span>
                <span>Group discussion / <span class="text-secondary">Group discussion</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
         

     
        <a href="{% url 'student_group_discuss' %}" class="btn btn-primary">Discussion list</a>

        </div>
    </div>
</section>

<section>
   <form action="" method="post" enctype="multipart/form-data">
    {% include 'msg.html' %}
    {% csrf_token %}
    {{fm.as_p}}
    {{fm.media}}

    <button type="submit" class='btn btn-primary'>Share</button>
   </form>
</section>


{% endblock body %}