{% extends "header.html" %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Assignment</h1>

            <span>
                <span>Assignment / <span class="text-secondary">Assignment List</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'teacher_assignment_create' %}" class="btn btn-primary"> Assignment add </a>
        </div>
    </div>
</section>

<section>
    <button class='btn btn-outline-success'>Total result : {{data.count}}</button>
    {% include "msg.html" %}
    {% for i in data %}
    <div class="card my-3 shadow-sm p-3 mb-5 bg-white rounded">
        <h5 class="card-header bg-info text-white">{{i.subject.name|title}}</h5>
        <div class="card-body">
          <h5 class="card-title">{{i.topic|capfirst}}</h5>
          <ul>
            <li><b>Course : </b>{{i.subject.course.name|capfirst}}</li>
            <li><b>Branch : </b>{{i.subject.branch.name|capfirst}}</li>
            <li><b>Sem : </b>{{i.sem}}</li>
            
            <li><b>Online : </b> {% if i.online %} <span class="text-primary"><i class="fa-sharp fa-solid fa-check mr-1"></i></span> {% else %} <span class="text-danger"><i class="fa-sharp fa-solid fa-not-equal mr-1"></i></span>  {% endif %} </li>
            <li><b>Offline : </b> {% if i.offline %} <span class="text-primary"><i class="fa-sharp fa-solid fa-check mr-1"></i></span> {% else %} <span class="text-danger"><i class="fa-sharp fa-solid fa-not-equal mr-1"></i></span>  {% endif %} </li>
            <li><b>Last date : </b> <span class='text-danger'>{{i.last_date}}</span></li>
            <li><b>ASSIGNMENT STATUS : </b> {% if i.assignment_start %} <span class='text-primary'> Continue.. </span>  {% else %} <span class='text-danger'><i class="fa-solid fa-hand"></i> Stop </span>{% endif %}</li>
          </ul>
        
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{i.id}}">
            Remove
          </button>
          <a href="{% url 'teacher_assignment_edit' i.id %}" class="btn btn-success">Edit</a>
          <a href="{% url 'teacher_assignment_view' i.id %}" class="btn btn-primary">View</a>

          <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{i.subject.name|capfirst}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class='text-danger mr-2'>Conform Remove</span> <span>{{i.topic}}</span> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="{% url 'teacher_assignment_remove' i.id %}" class='btn btn-danger'>Remove</a>
        </div>
      </div>
    </div>
  </div>


        </div>  
      </div>
    {% endfor %}
</section>

{% endblock body %}