{% extends "header.html" %}


{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Assignment</h1>

            <span>
                <span>Assignment / <span class="text-secondary">Assignment Edit</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'teacher_assignment_list' %}" class="btn btn-warning">Back</a>
        </div>
    </div>
</section>

<form action="" method="post" class='shadow-sm p-3 mb-5 bg-white rounded my-3'>
    {% csrf_token %}
    {% include "msg.html" %}
    {{fm}}

    <button type='submit' class='btn btn-primary'>Submit</button>
</form>
{% endblock body %}