{% extends 'header.html' %}

{% block body %}

<form method="post" style="width:100%; overflow-x:scroll;" class="shadow p-3 mb-5 bg-body rounded">
    {% csrf_token %}
    {% include 'msg.html' %}
    <table class="table table-hover  ">
        <thead>
            <tr>


                <th scope="col">No</th>

                <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Course</th>
                <th scope='col'>Sem</th>
                <th scope="col">attendance</th>

            </tr>
        </thead>
        <tbody>

            {% for i in data %}

            <tr>

                <td class='text-dark'>{{forloop.counter}}</td>

                <td><b>{{i.admin.first_name}} {{i.admin.last_name}}</b></td>
                <td>{{i.branch}}</td>
                <td>{{i.course}}</td>
                <td>{{i.semester.name}}</td>
                <td><input type="checkbox" class='btn btn-sm' name="student_status" value="{{i.admin.id}}" id=""></td>
            </tr>
            {% empty %}
            <span class='text-danger p-2'><b>Empty student</b></span>
            {% endfor %}

        </tbody>

    </table>
    <input type="date" name="date" id="" class="form-control my-3" required>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{% url 'take_attendance' %}" class="btn btn-danger">Back</a>
</form>
{% endblock body %}

