{% extends "header.html" %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Teacher</h1>

            <span>
                <span>Attendance / <span class="text-secondary">Take attendance</span></span>
            </span>

        </div>
       
    </div>
</section>
<section style="width:100%; overflow-x:scroll;">
    <table class="table table-hover shadow p-3 mb-5 bg-body rounded ">
        <thead>
            <tr>


                <th scope="col">No</th>

                <th scope="col">Name</th>
                <th scope="col">Branch</th>
                <th scope="col">Course</th>
                <th scope="col">Sem</th>
                <th scope="col">attendance</th>

            </tr>
        </thead>
        <tbody>

            {% for i in sub %}

            <tr>

                <td class='text-dark'>{{forloop.counter}}</td>

                <td><b>{{i.name}}</b></td>
                <td>{{i.branch}}</td>
                <td>{{i.course}}</td>
                <td>{{i.sem}}</td>

                <td>
                    {% if i.branch is not null and i.course is not null %}
                  <a href="{% url 'attendance_search_student' i.branch.id i.course.id i.id i.sem.id  %}" class="btn btn-success">Take</a> 
                    {% else %}
                    <button disabled="disabled" class='btn btn-secondary'>Take</button>
                    {% endif %}
                   
                    <a href="{% url 'attendance_show'  i.id  %}" class="btn btn-primary">View</a>
                </td>

            </tr>
            
            {% endfor %}

        </tbody>

    </table>
</section>

{% endblock body %}