{% extends "header.html" %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Teacher</h1>

            <span>
                <span>Feedback / <span class="text-secondary">Feedback sent</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'teacher_feedback_list' %}" class="btn btn-primary">Feedback list <i class="fa-solid fa-envelope ml-2"></i></a>

        </div>
    </div>
</section>
<div>
    {% include 'msg.html' %}
</div>
<form action="" method="post">
    {% csrf_token %}
    {{fm.media}}
    {{fm.as_p}}
    <button type="submit" class = 'btn btn-primary'>Sent Feedback</button>
</form>
{% endblock body %}