{% extends "header.html" %}
{% block body %}
{% load simpletag %}
<section class='index my-2'>
    <div class="row admin">
        <div class="col-12">
            <h1>Teacher</h1>

            <span>Notification</span><span class='mx-2'>/</span><span class='text-secondary'>Hod Notice</span>

        </div>
    </div>
</section>

<section>
    <table class="table table-hover shadow p-3 mb-5 bg-body rounded ">
        <thead>
            <tr>
    
    
                <th scope="col">Id</th>
    
                <th scope="col">Message</th>
                <th scope="col">Date</th>
                <th scope="col">View</th>
    
    
            </tr>
        </thead>
        <tbody>
       
            {% for i in data %}
              
            <tr>
    
                <td class='text-dark'>{{i.id}}</td>
                
              <td><b>{{i.head}}</b></td>
              <td>{{i.date}}</td>
             
                <td>
                    {% msg_deactivate i.id request.user.id as active_btn %}
                    <a href="{% url 'hod_notify_show' i.id %}" class="{% if active_btn %}
                    btn btn-sm btn-secondary bg-success-light mr-1
                    {% else %}
                    btn btn-sm btn-primary bg-success-light mr-1
                    {% endif %} ">Open</a>
                  
                </td>
            </tr>
            {% endfor %}
    
        </tbody>
    
    </table>
</section>
{% endblock body %}