{% extends 'header.html' %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Teacher</h1>

            <span>
                <span>Class / <span class="text-secondary">add Class</span></span>
            </span>

        </div>
        <div class="col-6 col-md-2 mt-3 ">
            <a href="{% url 'online_class_list' %}" class="btn btn-primary"> Class list  </a>

        </div>
    </div>
</section>

<form action="" method="post" class="shadow p-3 mb-5 bg-body rounded">
    {% include "msg.html" %}
    {% csrf_token %}
    <label for="">Subject</label>
    <select name="sub" id="" class="form-control my-2" required>
        <option value="">Choose your subject</option>
        {% for i in sub %}
        <option value="{{i.id}}">{{i.name}} ( {{i.course}} , {{i.branch}} )</option>
        {% endfor %}
    </select>
    {{fm.as_p}}
 
   <button type="submit" class='btn btn-primary'>Save</button>
</form>
{% endblock body %}