{% extends "header.html" %}

{% block body %}
<section class='index my-3 '>
    <div class="row admin ">
        <div class="col-6 col-md-8">
            <h1>Teacher</h1>

            <span>
                <span>Class / <span class="text-secondary">Class views </span></span>
            </span>

        </div>
      
    </div>
</section>
<br>

<form action="" method="post">
    {% include 'msg.html' %}
    {% csrf_token %}
    <label for="">Subject:</label>
    <select name="sub" id="" class="form-control my-2" >
    
        {% for i in sub %}
    
        <option value="{{i.id}}" {% if i.id == data.subject.pk %}selected{% endif %}>{{i.name}}</option>
        {% endfor %}
    </select>
   
    {{fm}}
    <br><br>
    <button type="submit" class='btn btn-primary'>Changed</button>
    <a href="{% url 'online_class_list' %}" class='btn btn-danger'>Back</a>
</form>
{% endblock body %}